@CHARSET "utf-8";

.barM {
   -webkit-appearance: none;
   background-color: #90A4AE;
   height: 15px; width: 170px;
   border-radius: 5px;
   box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

.barM::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:20px; height: 20px;
    border-radius: 50%; 
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}